.chatList {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    .item {
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 20px;
        cursor: pointer;
        border-bottom: 1px solid #4b4b4b35;
        .user-chat-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            position: relative;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
            }

            p {
                font-size: 14px;
                font-weight: 300;
            }
        }

        .user-status-indicator{
            width: 10px;
            height: 10px;
            align-items: center;
            background-color: green;
            position: absolute;
            border-radius: 50%;
             
        }
    }
}

.chatList::-webkit-scrollbar {
    width: 5px;
    background-color:transparent;
}

.chatList::-webkit-scrollbar-thumb{
    background-color:rgba(64, 67, 73, 0.5);
}