.MyMod {
    background-color: #fff;
    border-radius: 10px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        border-bottom: 1px solid rgb(139, 139, 139);

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            background-color: aliceblue;
            cursor: pointer;
        }

    }

    p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 30px;
        // border-bottom: 1px solid rgb(255, 255, 255);
        

        &:hover {
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
        }

        button {
            padding: 5px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            color: white;
            background-color: #517fff;
            font-size: small;
            font-weight: 500;
        }

        .mod-itemm {
            // background-color: red;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color:rgba(64, 67, 73, 0.5);  
    }
}








// .modal-body {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     .fol-container{
        

//         .fol-body{
//             img{
//                 width: 40px;
//                 height: 40px;
//                 border-radius: 50%;
//             }
//             .following-list{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//             }
//         }
//     }

// }