
.reply-container{
    margin-top: 5px;
    display: flex;
    gap: 1.5rem;
    .ii{
        height: 30px;
        width: 30px;
        img{
            height: 30px;
        width: 30px;
        }
    }

    .reply-info-tot {
        display: flex;
        justify-content: space-between;
    }
    .reply-info{
        font-size: smaller;
        width: 100%;
        span{
            font-size: small;
            font-weight: 500;
        }
        .reply-time{
            font-size: xx-small;
            font-weight: 320;
        }
        .edit-reply {
            width: 100%;
            display: flex;
            input {
                padding: 5px;
                border-radius: 15px;
                width: 20rem;
            }
            button {
                margin: 0px 2px;
                padding: 5px;
                color: white;
                font-size: smaller;
                font-weight: 500;
                border: none;
                border-radius: 15px;
                background-color: gray;
            }
        }

        .reply-action{
            display: flex;
            gap: 1.5rem;
            font-weight: bold;
            font-size: xx-small;
            color: gray;
            span{
                font-weight: bold;
            font-size: xx-small;
            color: gray;
            }
        }
        .reply-form{
            
            display: flex;
            gap: 5px;
            input{
                padding: 5px;
                border-radius: 15px;
                width: 20rem;
            }
            button{
                padding: 5px;
                margin-left: 1rem;
                color: white;
                font-size: smaller;
                font-weight: 500;
                border: none;
                border-radius: 15px;
                background-color: gray;
            }
        }

    }
    span{
        font-size: xx-small;
        flex: none;
        align-self: center;
        padding-right: 34px;
    }
}